.main {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 32px;
  grid-row-start: 2;
}

.active {
  color: black;
}

.navbar {
  background-color: #fb9f00;
  padding: 32px 64px;
  border-bottom: 1px solid rgb(202, 202, 202);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  padding: 0.25rem 0.5rem;
  background-color: #fb9f00;
  color: rgb(62, 62, 62);
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  display: flex;
  &.active {
    background-color: #1b1b1b;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  &:hover:not(.active) {
    background-color: #db8a00;
    color: black;
  }
}

.navGroup {
  display: flex;
  gap: 0.5rem;
  border: 1px solid rgb(52, 52, 52);
  background-color: #db8b00;
  border-radius: 8px;
  padding: 4px;
}

.navRow {
  display: flex;
  align-items: center;
}

.card {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid rgb(227, 227, 227);
  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: rotate(5);
    cursor: pointer;
  }
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.player-row {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  min-height: 64px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.player-row-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.player-row-strikers {
  display: flex;
  gap: 8px;
  // border: 1px solid rgb(227, 227, 227);
  background-color: rgb(239, 239, 239);
  border-radius: 8px;
  padding: 0.5rem;
}

.player-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.highlight {
  background-color: rgb(225, 237, 225);
}

.match-item {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  padding: 1rem;
  margin: 1rem 0rem;
  height: 60px;
}

.maps-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  // justify-content: space-around;
}

.map-section {
  flex: 1 1 400px; /* Each item will take up at least 300px */
  min-width: 400px; /* Minimum width to help with wrapping */
  max-width: 400px; /* Maximum width to limit large screens */
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  padding-left: 0px;
  border-radius: 8px;
  // background-color: #f9f9f9;
}

.soloCounterContainer {
  display: flex;
  flex: 1 1;
  gap: 2rem;
  // justify-content: ;
  min-width: 100%;
  & > * {
    width: 100%;
  }
}

/* used on the player's page for the match list */
.matchList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.matchCard {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.win {
  // background-color: #dff0d8; // Green for wins
  border-top: #7cc260 9px solid;
}

.loss {
  // background-color: #f2dede; // Red for losses
  border-top: #c95c5c 9px solid;
}

.matchHeader {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.score {
  font-size: 1.2em;
  font-weight: bold;
}

.matchDetails {
  margin-top: 8px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

.matchLink {
  color: #007bff;
  text-decoration: none;
  justify-self: flex-end;
  margin-left: auto;
  word-wrap: normal;
  min-width: 100px;
}
.matchLink:hover {
  text-decoration: underline;
}

.tooltippable {
  -webkit-text-decoration-style: wavy;
  -moz-text-decoration-style: wavy;
  text-decoration-style: wavy;
  border-bottom: 2px dotted rgb(159, 159, 159);
  display: inline-block;
  position: relative;
}

/* visualization on the matches page */
.matchRankSummary {
  margin: 20px 0px;
  font-family: Arial, sans-serif;
}

.dataAvailability,
.matchBalance {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

.availabilityItem,
.balanceItem {
  display: flex;
  align-items: center;
  gap: 6px;
}

.noDataBox {
  width: 10px;
  height: 10px;
  background-color: red;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}

.partialDataBox {
  width: 10px;
  height: 10px;
  background-color: orange;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}

.completeDataBox {
  width: 10px;
  height: 10px;
  background-color: green;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}

.perfectBalanceBox {
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}

.slightlyUnevenBox {
  width: 10px;
  height: 10px;
  background-color: #ffc107;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}

.moderatelyUnevenBox {
  width: 10px;
  height: 10px;
  background-color: #ff9800;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}

.highlyUnevenBox {
  width: 10px;
  height: 10px;
  background-color: #f44336;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}

.subtext {
  color: rgb(167, 167, 167);
}

.small {
  font-size: 0.7rem;
}

.winningTeam {
  background-color: #d4edda !important; // Light green for the winning team
}

.losingTeam {
  background-color: #f8d7da !important; // Light red for the losing team
}

.navBeta {
  font-size: 10px;
  text-align: start;
  align-self: flex-start;
  justify-self: start;
  margin-left: 2px;
}
